#nav {
    background-color: #2c3e50; /* 深蓝色背景 */
    padding: 0;
    margin: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    #nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center; /* 水平居中 */
    }

    #nav li {
        margin: 0;
        padding: 0;
        position: relative;
    }

    #nav li a {
        display: block;
        color: #ecf0f1; /* 浅灰色文字 */
        text-align: center;
        padding: 15px 25px;
        text-decoration: none;
        font-family: 'Arial', sans-serif;
        font-size: 16px;
        font-weight: bold;
        transition: all 0.3s ease;
    }

    #nav li.current a {
        background-color: #3498db; /* 当前选中项蓝色背景 */
        color: white;
    }

    #nav li a:hover {
        background-color: #34495e; /* 悬停时深灰色背景 */
        color: white;
    }
	#nav img {
	    width: 30px; /* 设置图片宽度为100像素 */
	    height: auto; /* 保持图片的原始宽高比 */
		text-align: left;
	}
	#nav img:hover {
	    transform: scale(1.2); /* 鼠标悬停时图片放大1.2倍 */
	    transition: transform 0.3s ease; /* 添加过渡效果，使放大过程更平滑 */
	}
	/* 下拉菜单样式 */
	#nav ul li ul {
	    display: none;
	    position: absolute;
	    background-color: #2c3e50;
	    min-width: 113px;
	}
	#nav ul li:hover ul {
	    display: block;
	}
	#nav ul li ul li {
	    width: 100%;
	}
	#nav ul li ul li a {
	    width: 113px;
	    margin: 0px;
	    padding: 0px 0px 0px 8px;
	    text-decoration: none;
	    display: block;
	    background: #2c3e50;
	    line-height: 29px;
	}